* {
  margin: 0px;
}

.ql-editor p {
  display: inline-block;
}
.MuiTypography-root p {
  display: inline-block;
  font-size: 1rem;
}
.MuiTypography-root p img {
  height: 100px;
}
.alretbox {
  font-size: 0.9rem;
  background-color: #cccaca;
  border-radius: 2px;
  width: 30%;
  height: 5%;
  margin: 2px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}
.MessageBox {
  border-radius: 5px;
  background-color: #77ff73;
  max-width: 30%;
  margin: 3px;
  padding: 3px;
}
.ql-editor p img {
  height: 40px;
}
.ql-container {
  /* background-color: red; */
  height: 12vh;
  overflow: scroll;
}
.ql-toolbar.ql-snow {
  border: none;
}
@media only screen and (max-width: 600px) {
  .MuiTypography-root p {
    font-size: 0.8rem;
  }
  
}
